.App {
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.chatContainer {
  width: 50%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.inboxArea {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  bottom: 0;
  right: 0;
}

.chatHistoryContainer {
  height: 60vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 7%;
}

.inboxContainer {
  height: 55vh;
  min-width: 250px;;
  width: 20vw;
  margin-right: 1vw;
  margin-bottom: 0px;
}

.appContainer {
  display: flex;
  margin: 10px auto;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
