.ChatHistory {
  min-height: 50vh;
  display: block;
  padding: 20px;
  background-color: white;
  margin: 10px auto;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  clear: both;
  h2 {
    margin: 0;
    padding: 0;
  }
}
