.inbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
}

.inboxHistory {
    width: 100%;
    max-height: 70%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.inboxInput {
    display: flex;
    align-items: center;
    justify-content: center;
}