.InboxInput {
    justify-content: center ;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    margin: 0px 0px;
    overflow: hidden;
    margin-top: 0.5rem;
    position: relative;
  }
  
  .textInboxInput {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 90%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    max-height: 3rem;
    overflow: auto;
    outline: none;
  }
  